    :root {
        --primary-color: #00BFA6;
        --secondary-color: #A8E6CF;
        --text-color: #333;
        --white-color: #FAFFFD;
        --border-radius: 20px;
        --container-width: 1140px;
    }

    body {
        font-family: 'Poppins', sans-serif;
        margin: 0;
        color: var(--text-color);
        background-color: var(--white-color);
    }

    .container {
        max-width: var(--container-width);
        margin: 0 auto;
        padding: 0 20px;
    }

    /* Header */
    header {
        background-color: var(--white-color);
        padding: 20px 0;
    }

    header .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .logo {
        font-weight: 700;
        font-size: 16px;
        line-height: 1.2;
    }

    .logo span {
        display: block;
    }

    nav ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        gap: 30px;
    }

    nav a {
        text-decoration: none;
        color: var(--text-color);
        font-weight: 500;
    }

    .auth-buttons .btn-secondary {
        background-color: transparent;
        border: 1px solid var(--primary-color);
        color: var(--primary-color);
        padding: 10px 20px;
        margin-right: 10px;
        border-radius: 10px;
        text-decoration: none;
        font-weight: 500;
    }

    .auth-buttons .btn-primary {
        background-color: var(--primary-color);
        color: var(--white-color);
        padding: 10px 20px;
        border-radius: 10px;
        text-decoration: none;
        font-weight: 500;
    }

    /* Hero Section */
.hero {
    background-color: var(--white-color);
    padding: 20px 0;
    position: relative;
    overflow: hidden; 
}

    .hero-container {
        display: flex;
        justify-content: space-between; 
        align-items: center;
        gap: 40px;
    }

    .hero-content {
        flex: 1; 
        text-align: left;
        max-width: 50%; 
        padding-bottom: 60px;
    }

    .hero-image {
        flex: none; 
        width: 50%; 
        text-align: right; 
    }

    .hero-image img {
        max-width: 100%; 
        height: auto;
        display: block; 
        max-width: 600px; 
    }

    .hero h1 {
        font-size: 48px;
        margin-bottom: 20px;
    }

    .hero p {
        font-size: 18px;    
        max-width: 600px;
        margin: 0 0 30px; 
    }

    .hero-buttons .btn-primary {
        background-color: var(--primary-color);
        color: var(--white-color);
        padding: 15px 30px;
        border-radius: 10px;
        text-decoration: none;
        font-weight: 500;
        margin-right: 15px;
    }

    .hero-buttons .btn-secondary-outline {
        background-color: transparent;
        border: 1px solid var(--primary-color);
        color: var(--primary-color);
        padding: 15px 30px;
        border-radius: 10px;
        text-decoration: none;
        font-weight: 500;
    }

    /* Features Section */
    .features {
        padding: 80px 0;
        text-align: center;
        position: relative;
        background-image: url('Img/Vector\ bawah.png');
        background-repeat: no-repeat;
        background-position: top left; 
        background-size: contain;
        background-color: var(--white-color);
    }

    .features h2 {
        font-size: 36px;
        margin-bottom: 50px;
    }

    .features-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
    }

    .feature-card {
        background-color: #FFFFFF; 
        padding: 30px;
        border-radius: var(--border-radius);
        box-shadow: 0 4px 15px rgba(0,0,0,0.05);
        text-align: left;
    }

    .feature-card h3 {
        margin-top: 15px;
        font-size: 20px;
        height: 25%;
    }

    .feature-card p {
        font-size: 14px;
        color: #666;
    }

    /* --- Placeholder Ikon --- */
    .icon-placeholder {
        width: 50px;  
        height: 50px; 
        background-color: transparent; 
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }

    /* Ikon 6 biji*/
    .icon-1 { background-image: url('Img/Pengingat.png'); }
    .icon-2 { background-image: url('Img/Stretching.png'); }
    .icon-3 { background-image: url('Img/Notif.png'); }
    .icon-4 { background-image: url('Img/Stats.png'); }
    .icon-5 { background-image: url('Img/Mode.png'); }
    .icon-6 { background-image: url('Img/Mudah.png'); }


    .learn-more {
        margin-top: 50px;
    }

    .learn-more .btn-primary {
        background-color: var(--primary-color);
        color: var(--white-color);
        padding: 15px 30px;
        border-radius: 10px;
        text-decoration: none;
        font-weight: 500;
    }

    /* Cara Kerja Section */
    .how-it-works {
        padding: 60px 0px;
        text-align: center;
        position: relative;
        background-repeat: no-repeat;
        background-image: url('Img/Vector\ Atas.png'); 
        background-position: bottom right;
        background-size: cover;
        background-size: 60%;
    }


    .how-it-works h2 {
        font-size: 36px;
        margin-bottom: 50px;
    }

    .step-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 50px;
        margin-bottom: 60px; 
        text-align: left;
    }

    /* Setting layout Selang-Seling */
    .step-item:nth-child(even) {
        flex-direction: row-reverse;
    }

    .step-content {
        flex: 1;
    }

    .step-content h3 {
        font-size: 24px;
    }

    .step-content p {
        color: #666;
    }

    .step-image {
        flex: 1;
    }

    .step-image img {
        max-width: 100%;
        border-radius: var(--border-radius);
        box-shadow: 0 10px 30px rgba(0,0,0,0.1);
    }

    /* Testimonials Section */
    .testimonials {
        padding: 80px 0;
        background-color: var(--white-color);
    }

    .testimonials h2 {
        text-align: center;
        font-size: 36px;
        margin-bottom: 50px;
    }

    .testimonial-card {
        background: linear-gradient(90deg, var(--secondary-color)0%, #3ACDB4 65%, var(--primary-color)100%);
        color: var(--white-color);
        border-radius: var(--border-radius);
        padding: 40px;
        max-width: 800px;
        margin: 0 auto;
        position: relative;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    .testimonial-content {
        display: flex;
        align-items: center;
        gap: 30px;
    }

    .testimonial-content img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
    }

    .testimonial-text .quote {
        font-size: 18px;
        font-style: italic;
        margin-bottom: 15px;
    }

    .testimonial-text .author {
        font-weight: 700;
        margin: 0;
    }

    .testimonial-text .title {
        font-size: 14px;
        margin: 0;
    }

    .testimonial-arrow {
        padding: 40px 0px;
        width: 30%;
        margin: 0 auto;
    }

    /* Footer */
    footer {
        padding: 40px 0;
        text-align: center;
        border-top: 1px solid #ffffff;
        position: relative;
        background: linear-gradient(0deg, var(--primary-color)0%, #5BD4BC 45%, var(--secondary-color)100%);
        background-repeat: no-repeat;
        background-position: bottom center;
        background-size: cover;
    }

    .footer-logo {
        font-weight: 700;
        font-size: 16px;
        line-height: 1.2;
        margin-bottom: 20px;
    }

    .footer-logo span {
        display: block;
    }

    .footer-links {
        margin-bottom: 20px;
    }

    .footer-links a {
        text-decoration: none;
        color: var(--text-color);
        margin: 0 10px;
    }

    footer p {
        font-size: 14px;
        color: #ffffff;
    }